.latest-movies-container{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    float: left;
  }

li {
    display:inline;
    position: relative;
    padding-left: 11px;
    margin:0 0 10px 0;
  }
