<mat-card class="movie-card" *ngIf="movie">
  <!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header> -->
  <img mat-card-image [src]="'https://image.tmdb.org/t/p/w500/'+movie.poster_path" [alt]="movie.title">
  <mat-card-content>
    <div class="movie-title">
      {{movie.title}} <span><i class="material-icons">
          favorite
        </i></span>
    </div>
    <p>
      {{movie.release_date}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <i class="material-icons">
      star_rate
    </i> <span><button mat-raised-button>Show more</button></span>
  </mat-card-actions>
</mat-card>
