.movie-card{
  max-width: 100%;
  max-height: 20rem;
  .mat-card-image{
    width: 10rem;
    height: 8rem;
  }
  .movie-title{
    width: 80%;
  }
  .material-icons{
    width: 24px;
    height: 24px;
  }
  .star-rate{
    color: red;
  }
}
