<mat-accordion>
  <mat-expansion-panel [expanded]="'true'">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Latest
      </mat-panel-title>
    </mat-expansion-panel-header>
      <app-movie-card *ngFor="let movie of latestMovies"  class="latest-movies-container" [movie]="movie"></app-movie-card>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Trending
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let movie of trendingMovies" class="trending-movies-container">
      <app-movie-card [movie]="movie"></app-movie-card>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Most Watched
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let movie of mostWatchedMovies" class="most-watched-movies-container">
      <app-movie-card [movie]="movie"></app-movie-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
